{%- if character %}
{{ character }}
{%- endif %}
{%- if rules %}

Rules:
{%- for rule in rules %}
- {{ rule }}
{%- endfor %}
{%- endif %}
{%- if tools %}

Available tools:
{%- for tool in tools %}
- {{ tool.name }}: {{ tool.description }}
{%- endfor %}
{%- endif %}
{%- if examples %}

Examples:
{%- for example in examples %}
{{ example }}
{%- endfor %}
{%- endif %}
